
div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="number"]:focus {
  border-color: #62529c;
  outline: none;
}


button[type="submit"] {
  background-color: #62529c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


button[type="submit"]:hover {
  background-color: #4b3e7a;
}
