
div {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin: 1rem auto;
}

h1 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  font-size: 1rem;
  margin-bottom: 10px;
}

li:hover {
  color: #62529c;
}
