
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #f0f4f8, #d9e4f5);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}


.product-card {
  background: linear-gradient(to bottom right, #f2eed1, #cfac42);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  font-size: 1.5em;
  color: #333333;
}

.product-card p-tag {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
}

.billing {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.billing p {
  font-size: 1.2em;
  color: #555555;
}

.billing button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.billing button:hover {
  background-color: #45a049;
}
