<nav class="container">
  <div>
    <h1>WatchGuard Vending Machine</h1>
  </div>

  @if (isTokenAvailable) {
    <div>
      <button
      [routerLink]="['/add-balance']"
      >Add balance</button>
    </div>

    @if (isAdmin) {
      <div>
        <button
        [routerLink]="['/admin/add-product']"
        >Add product</button>
      </div>
      <div>
        <button
        [routerLink]="['/admin/update-stock']"
        >Update Stock</button>
      </div>
    }

    <div>
      <button
        (click)="logout()"
      >Logout</button>
    </div>

  }@else{
  <div>
    <button
    [routerLink]="['/login']"
    >Login</button>
  </div>
  <div>
    <button
    [routerLink]="['signup']"
    >Signup</button>
  </div>
}
</nav>

