<nav class="container">
  <div class="logo">
    <h1>WatchGuard Vending Machine</h1>
  </div>

  <!-- Conditional rendering for token and admin -->
  <div *ngIf="isTokenAvailable">
    <div>
      <button [routerLink]="['/add-balance']">Add balance</button>
    </div>

    <div *ngIf="isAdmin">
      <div>
        <button [routerLink]="['/admin/add-product']">Add product</button>
      </div>
      <div>
        <button [routerLink]="['/admin/update-stock']">Update Stock</button>
      </div>
    </div>

    <div>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- If no token is available -->
  <div *ngIf="!isTokenAvailable">
    <div>
      <button [routerLink]="['/login']">Login</button>
    </div>
    <div>
      <button [routerLink]="['signup']">Signup</button>
    </div>
  </div>
</nav>
