body {
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
  font-family: 'Arial', sans-serif;
  height: 100vh;
  margin: 0;
}

.signup-container {
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0  auto;
  margin-top: 100px;
}

.signup-container:hover {
  transform: translateY(-5px);
}

h2 {
  color: #333;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  color: #555;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f7f9fc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  background-color: white;
  box-shadow: inset 0 0 5px rgba(255, 126, 95, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #feb47b;
  transform: translateY(-2px);
}

.error {
  color: #e74c3c;
  text-align: center;
  margin-top: 10px;
}
