
.signup-container {
  background: linear-gradient(135deg, #b3c6f9, #a6b6d8);
  width: 80%;
  max-width: 700px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  color: #333;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-container h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.input-group {
  width: 100%;
  max-width: 650px;
  margin: 1rem auto;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.input-group input {
  width: 40vw;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.input-group input:focus {
  border-color: #7ea7e4;
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(126, 167, 228, 0.3);
}


button {
  width: 40vw;
  padding: 16px;
  background: linear-gradient(135deg, #7ea7e4, #a1c4e8);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

button:hover {
  background: linear-gradient(135deg, #6f8bcf, #8db9e9);
}
button:focus {
  outline: none;
}


.error {
  color: #e74c3c;
  margin-top: 20px;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}


.signup-container a {
  display: block;
  text-align: center;
  color: #7ea7e4;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
  margin: 1rem;
  background-color: white;
  padding: 0.4rem;
  border-radius: 10px;
}

.signup-container a:hover {
  color: #6181d2;
  text-decoration: underline;
}

::placeholder{
  color: rgb(22, 124, 140);
}
